.header-city-ico {
    width: 19px;
    height: 27px;
    -webkit-background-size: contain;
    background-size: contain;
    background-image: url(images/location.svg);
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    position: relative;
}
.header-city-text {
    vertical-align: middle;
    border-bottom: 1px dashed;
}
.header-city-inner:hover {
    text-decoration: none;
}
