#city-popup {
    width: 100%;
    max-width: 917px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.city-popup__title {
    color: #444444;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
}

.city-popup__list-item {
    margin-bottom: 10px;
}

.city-popup__list-item a {
    display: inline-block;
}

.city-popup__list-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
